// colors
$color01: red;
$color02: green;
$color03: yellow;
$color04: lightblue;
$color05: blue;


// size
$size01: 30px;
$size02: 150px;


// fonts
$font01: 'Girassol', cursive;



// breakpoints
$width01: 1024px;
$width02: 768px;
$width03: 480px;
